

#logo{
    width: 70px;
    padding: 10px;
    position:inherit;
    top: 28px; left: 50px;
    
}

#logo img{
    width: 80%;
    padding: 3px auto;
    transition:all 1.1s ease;    
}

#logo img:hover{
     transform: scale(125%);
    transition:all 1.1s ease;    
 }

.rk-logo{
    margin-left: 10%;
}

.rk-logo:hover{
    color: #014AC2 ;
}

/*animaciones loading*/

svg path,
svg rect{
  fill: #014AC2;
}

/*loading*/

#loading{
    text-align: center;
    width: 25%;
    margin: 0px auto;
    
}

#loading h2,p{
    width: 100%;
}